<% content_for :title, "Log in" %>

<h1>Log in</h1>

<%= form_with url: login_path, method: :post do |f| %>
  <div>
    <%= label_tag :email %><br>
    <%= email_field_tag :email, params[:email], autocomplete: "email", required: true %>
  </div>

  <div>
    <%= label_tag :password %><br>
    <%= password_field_tag :password, nil, autocomplete: "current-password", required: true %>
  </div>

  <div style="margin-top:1rem;">
    <%= submit_tag "Log in", class: 'btn' %>
  </div>
<% end %>

<p>
  Do not have an account? <%= link_to "Sign up", signup_path %>
</p>

<p style="margin-top: 1rem;">
  <%= link_to "Forgot password?", "/password_resets/new", style: "color: var(--color-primary);" %>
</p>